.main {
    margin-left: 250px;
    background: 'red';
}

.table {
    padding-left: 250px;
}

.button {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.list-actions {
    position: relative;
    float: left;
    width: 100px;
}